body{
    background-image: url("../img/view-of-airport-247791.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Noto Sans JP', sans-serif;
}
p{
    font-family: 'Noto Sans JP', sans-serif;
}
.nav-item{
    font-family: 'Lemonada', cursive;
    font-size: 1.1rem;
    margin: 0 3% 0 3%;
    color: #fff;
}
.header{
    margin: auto;
    color: white;
    width: 95%;
    background-color: #dde9f000;
}
.brand{
    font-size: 1.3rem;
    font-family: 'Lemonada', cursive;
    color: #fff;
}
#sidebar{
    display: none;
}
.sidebar{
    text-align: center;
    height: 100%;
    position: fixed;
    margin-top: 15%;
    width: 2%;
}
.sidebar-item{
    margin-bottom: 8px;
    color: #fff;
}
.icon{
    color: #fff;
    font-size: 2rem;
}
.icon:hover{
    box-shadow: -40px 0px 10px rgba(209, 209, 209, 0.748);
}
.body-main{
    transition: linear;
    background-color: #4b6370c7;
}
#rows{
    transition: width 5s;
    padding: 1% 16%;
}
.main{
    line-height: 1%;
    height: 100px;
    background-color: #4b6370c7;
    text-align: center;
    margin-bottom: 3%;
    width: 100%;
}

.soft-skills{
    list-style: square;
}
#contact{
    display: none;
    display: -moz-popup;
    margin-top: 13%;
    margin-bottom: 10%;
}

.contact-me{
    position: relative;
    left: 14%;
    width: 72%;
    margin-top: 3%;
    text-align: center;
    background-color: #4b6370c7;
}
.form-contact{
    padding: 1% 0 2% 2%;
    text-align: left;
}
.form-part{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 2%;
    padding: 1%;
}
input{
    width: 70%;
    float: right;
}
.send{
    background-color: #96D2F2;
    position: relative;
    right: 1%;
    width: 100%;
}
#footer{
    width: 70.4%;
    position: relative;
    left: 14.8%;
    text-align: center;
    background-color: #dde9f0bd;
}
@media (max-width: 768px){
    .header{
        margin: 0;
        width: 100%;
    }
    .sidebar{
        margin-top: 10%;
    }
    .icon{
        font-size: 1.5rem;
    }
    #footer{
        width: 100%;
        position: static;
    }
    .contact-me{
        width: 82%;
        position: relative;
        left: 10%;
    }
    input{
        width: 100%;
        margin-bottom: 10px;
    }
    .send{
        margin-top: 10%;
    }
    .main{
        height: 230px;
    }
}
