body{
    background-image: url("../img/view-of-airport-247791.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; 
}
.nav-item{
    font-size: 1.1rem;
    margin: 0 3% 0 3%;
    color: #fff;
}
.header{
    margin: 10% 15% 0 15%;
    color: white;
    width: 70%;
    background-color: rgba(253, 253, 253, 0.671);
}
.row{
    background-color: rgba(253, 253, 253, 0.671);
}
#rows{
    padding: 1% 16%;
}
.main{
    background-color: rgba(253, 253, 253, 0.671);
    text-align: center;
    margin-bottom: 3%;
    width: 100%;
}
.contact-me{
    margin-left: 15%;
    width: 70%;
    margin-top: 3%;
    text-align: center;
    background-color: rgba(253, 253, 253, 0.671);
}
.form-contact{
    padding: 1% 0 2% 2%;
    text-align: left;
}
.form-part{
    margin: 2%;
    padding: 1%;
}
input{
    width: 70%;
    float: right;
}
.send{
    background-color: rgba(26, 184, 26, 0.719);
    position: relative;
    right: 1%;
    width: 100%;
}
#footer{
    width: 70.2%;
    position: relative;
    left: 15%;
    text-align: center;
    background-color: rgba(141, 140, 140, 0.719);
}
@media (max-width: 400px){
    .header{
        margin: 0;
        width: 100%;
    }
    #footer{
        width: 100%;
        position: static;
    }
    .contact-me{
        height: 410px;
    }
    input{
        width: 100%;
        margin-bottom: 10px;
    }
    .send{
        margin-top: 10%;
    }
}
