

h1{
    font-family: 'Noto Sans JP', sans-serif;
}
p{
    font-family: 'Noto Sans JP', sans-serif;
}

.header{
    animation-name: goingFromRight;
    animation-duration: 2s;
    height: 30px;
    padding: 0;
    line-height: 1rem;
    background-color: #fff;
    margin: auto;
    color: white;
    width: 90%;
}
.brand{
    font-size: 1.5rem;
    font-family: 'Heebo', sans-serif;
    color: #000;
}
.sidebar{
    z-index: 1;
    animation-name: goingFromTop;
    animation-duration: 1s;
    text-align: center;
    height: 100%;
    position: fixed;
    margin-top: 9%;
    width: 2%;
}
.sidebar-item{
    margin-bottom: 5%;
    color: #fff;
}
.icon{
    color: #fff;
    font-size: 2rem;
}
.icon:hover{
    box-shadow: -40px 0px 10px rgba(209, 209, 209, 0.748);
}
#cv{ 
    background-color: #000;
}

#rows{
    text-align: start;
    animation-name: goingFromLeft;
    animation-duration: 2s;
    color: #fff;
    width: 80%;
}
.main{
    text-align: center;
    font-weight: 200px;
    position: relative;
    color: #fff;
    font-weight: 50px;
    line-height: 1%;
    height: 100px;
    margin-bottom: 3%;
    width: 70%
}
.main h2{
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.soft-skills{
    list-style: square;
}

.blog-site{
    margin-top: 5%;
    background-color: #fff;
    text-align: center;
    color: #fff;
    background-image: url(/img/pexels-jessica-lewis-606541.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    max-height: 50%;
}

.general-info{
    padding: 10% 20% 5% 20%;
}
.post{
    height: 30%;
    width: 40%;
    border: 1px solid #fff;
    padding: 0 10%;
    display: inline-block;
}

#contact{
    color: #000;
    display: none;
    display: -moz-popup;
    margin-top: 10%;
    margin-bottom: 5%;
}

.contact-me{
    animation-name: goingFromBottom;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    position: relative;
    left: 14%;
    width: 72%;
    margin-top: 3%;
    text-align: center;
}
.form-contact{
    padding: 1% 0 2% 2%;
    text-align: left;
}
.form-part{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 2%;
    padding: 1%;
}
input{
    width: 72%;
    float: right;
}
.send{
    background-color: #24CC32;
    position: relative;
    right: 1%;
    width: 100%;
}
.send:hover{
    box-shadow: -10px 10px 4px #24cc326b;
}
#footer{
    margin-top: 2%;
    width: 100%;
    text-align: center;
    background-color: #110f14;
    color: #fff;
}
.link-comeback, .link-comeback:active, .link-comeback::after {
    text-decoration: none;
    color: #fff;
    background-color: #24CC32;
    border-radius: 5%;
    padding: 1% 2%;
    margin: auto;
    position: relative;
    left: 90%;
}
.link-comeback:hover{
    box-shadow: -10px 10px 4px #24cc326b;
    text-decoration: none;
    color: #fff;
    padding: 1% 2.6%;
    cursor: pointer;
}



/*RESPONSIVE*/


@media (max-width: 768px){
    .header{
        height: 1%;
        margin: auto;
        width: 100%;
    }
    .sidebar{
        margin-top: 8%;
    }
    .icon{
        font-size: 1.5rem;
    }
    
    #rows{
        text-align: justify;
        animation-name: goingFromTop;
        animation-duration: 2s; 
    }
    .main{
        text-align: center;
        letter-spacing: 0rem;
        height: auto;
        width:100%;
        position: relative;
        margin-bottom: 10%;
        animation-name: goingFromBottom;
        animation-duration: 2s;

    }
    .contact-me{
        width: 82%;
        position: relative;
        left: 10%;
    }
    input{
        width: 100%;
        margin-bottom: 10px;
    }
    .send{
        margin-top: 10%;
    }
    
    .nav-item{
        padding: 1%;
    }
    #footer{
        width: 100%;
        position: static;
    }
    .link-comeback{
        position: relative;
        left: 80%;
        display: inline-block;
    }
}

/*ANIMATIONS*/

@keyframes goingFromRight{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    50%{
        transform: reverse();
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }

}
@keyframes goingFromLeft{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    50%{
        transform: rotateX();
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }

}
@keyframes goingFromBottom{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    50%{
        
    }
    100%{
        opacity: 1;
        transform: translateY(300deg);
    }

}
@keyframes goingFromTop{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    50%{
        
    }
    100%{
        opacity: 1;
        transform: translateY();
    }

}
