.list-group{
    display: flex;
    flex-direction: column;
    width: 19%;
    float: right;
    position: absolute;
    position: fixed;
    right: 2%;
    top: 10%;
    opacity: 0.3;
    color: white;
    

    &:hover{
        right: 0;
        width: 50%;
        opacity: 1;
        background-color: red;
    }

}

.body-main{
    text-align: left;
    width: 80%;
    margin: 0 auto;
    color: white;

    
}