*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.info-container{
    margin-top: 5%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    


    .grid-item{
        background-color: rgba(236, 236, 242, 0.186);


        h1{ 
            text-align: center;
            color: white;
        }
    }
}