.navigation-bar{
    background-color: #c9c1c164;
    height: 10%;

    .navbar-toggler-icon{
        color: white;
    }
    .nav-item{
        position: relative;
        right: 2%;
        color: white;
    }
}