body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, rgba(rgba(212, 11, 11, 0.592), 0.8), rgba(rgb(22, 21, 21), 0.8)), url("../img/acer.jpeg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: 60% 0; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: center;
    background-attachment: fixed;
}

*{
    box-sizing: border-box;
}