body{
    margin: 0;
    padding: 0;
    background: rgb(163,9,41);
    background: linear-gradient(90deg, rgba(163,9,41,0.7651260333234856) 25%, rgba(121,9,47,0.6922969016708246) 50%, rgba(0,18,255,0.706302503911721) 79%); 
} 
