body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../img/WhatsApp\ Image\ 2020-11-06\ at\ 10.17.52\ AM.jpeg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: 60% 0; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: center;
    background-attachment: fixed;
}

*{
    box-sizing: border-box;
}